@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Vazirmatn&display=swap");
* {
  font-family: "Vazirmatn", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  width: auto;
  height: 75px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
nav ul img {
  display: none;
}
nav ul li {
  border: none;
  list-style: none;
  padding: 0 10px;
}
nav ul a {
  font-size: 16px;
  color: black;
  padding: 5px 30px;
  margin-right: 20px;
  text-decoration: none;
  justify-content: space-between;
  cursor: pointer;
}
nav ul a:hover {
  color: black;
  background-color: #E1E5FE;
  border-radius: 20px;
  transition-duration: 0.4s;
}
nav .navMenu {
  display: none;
}
nav .navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navLogo img {
  width: 75px;
  height: 75px;
}
nav .primeryButton {
  margin-left: 20px;
  background-color: #37D0FF;
  color: white;
  border: none;
  width: 140px;
  height: 60px;
  border-radius: 10px;
}
nav .primeryButton:hover {
  background-color: #00c3ff;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .primeryButton a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

main .main {
  height: 500px;
}

footer {
  background-color: #f5f5f5;
}
footer .firstlide {
  padding: 50px 50px;
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: relative;
  z-index: 0;
}
footer .firstlide img {
  position: absolute;
  top: 70px;
  left: 30px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
footer .firstlide ul {
  display: flex;
}
footer .firstlide ul .footerBar, footer .firstlide ul .footerBar2, footer .firstlide ul .footerBar3 {
  margin-top: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  border: none;
  list-style: none;
  padding: 0 10px;
}
footer .firstlide ul .footerBar a, footer .firstlide ul .footerBar2 a, footer .firstlide ul .footerBar3 a {
  margin-top: 10px;
  font-size: 16px;
  color: black;
  padding: 5px 30px;
  margin-right: 20px;
  text-decoration: none;
  justify-content: space-between;
  cursor: pointer;
}
footer .firstlide ul .footerBar a:hover, footer .firstlide ul .footerBar2 a:hover, footer .firstlide ul .footerBar3 a:hover {
  color: white;
  background-color: #00b4d8;
  border-radius: 20px;
  transition-duration: 0.4s;
}
footer .secondSlide {
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .secondSlide .loremP {
  font-size: 17px;
  width: 50%;
  padding: 40px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .secondSlide img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  border-radius: 5px;
}
footer .secondSlide .footerLogo {
  display: none;
}
footer .secondSlide .iconBox {
  margin-top: 50px;
  margin-left: 40px;
}
footer .secondSlide .iconBox h4 {
  margin-bottom: 15px;
}
footer .secondSlide .iconBox a {
  padding-right: 15px;
  list-style: none;
  color: black;
}
footer .secondSlide .iconBox a i {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

@media only screen and (max-width: 750px) {
  nav .navLogo {
    display: none;
  }
  nav ul {
    display: none;
    flex-direction: column;
  }
  nav ul img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 75px;
    margin-top: 10px;
  }
  nav .navMenu {
    display: flex;
  }
  nav .navMenu:hover {
    cursor: pointer;
  }
  nav ul.active {
    border-radius: 5px;
    display: flex;
    position: absolute;
    border: 20px;
    top: 75px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #00b4d8;
  }
  nav ul.active li {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  nav ul.active li a {
    display: flex;
    align-items: center;
    text-align: right;
    color: rgb(34, 31, 31);
    display: block;
    font-weight: bold;
    background-color: #fefae0;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 10px;
  }
  nav ul.active li a:hover {
    color: black;
    background-color: #E1E5FE;
  }
}
@media only screen and (max-width: 750px) {
  * {
    margin: 0;
    padding: 0;
  }
  footer .logo {
    display: none;
  }
  footer .firstlide .footerBar, footer .firstlide .footerBar2, footer .firstlide .footerBar3 {
    display: flex;
    flex-direction: column;
    border: none;
    list-style: none;
  }
  footer .firstlide .footerBar a, footer .firstlide .footerBar2 a, footer .firstlide .footerBar3 a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
  }
  footer .firstlide .footerBar a:hover, footer .firstlide .footerBar2 a:hover, footer .firstlide .footerBar3 a:hover {
    color: white;
    background-color: #00b4d8;
    border-radius: 20px;
    transition-duration: 0.4s;
  }
  footer .secondSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer .secondSlide .loremP {
    width: 80%;
    padding: 20px;
  }
  footer .secondSlide .imgDiv {
    display: flex;
  }
  footer .secondSlide .imgDiv .footerLogo {
    display: flex;
    margin-left: 10px;
  }
  footer .secondSlide .iconBox {
    margin-bottom: 15px;
    margin-top: 20px;
  }
  footer p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */