@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vazirmatn&display=swap');
@import "variables";
* {
    font-family: 'Vazirmatn', sans-serif;
    padding: 0;
    margin: 0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// navigation

nav {
    width: auto;
    height: 75px;
    padding: 0 40px;
    @include space;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    ul {

        img {
            display: none;
        }

        li {
            border: none;
            list-style: none;
            padding: 0 10px;
        }

        a {
            font-size: 16px;
            color: black;
            padding: 5px 30px;
            margin-right: 20px;
            text-decoration: none;
            justify-content: space-between;
            cursor: pointer;

            &:hover {
                color: black;
                background-color: #E1E5FE;
                border-radius: 20px;
                transition-duration: 0.4s;
            }
        }
    }

    .navMenu {
        display: none;
    }

    .navLogo {
        @include center;

        img {
            width: 75px;
            height: 75px;
        }


    }

    .primeryButton {
        margin-left: 20px;
        background-color: #37D0FF;
        color: white;
        border: none;
        width: 140px;
        height: 60px;
        border-radius: 10px;

        &:hover {
            background-color: #00c3ff;
            border-radius: 10px;
            transition: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: white;
        }
    }



}


























































// respomsive nsvigation

@media only screen and (max-width: 750px) {
    nav {

        .navLogo {
            display: none;
        }

        ul {
            display: none;
            flex-direction: column;
            img {
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-left: 75px;
                margin-top: 10px;

            }
        }

        .navMenu {
            display: flex;

            &:hover {
                cursor: pointer
            }
        }

        ul.active {
            border-radius: 5px;
            display: flex;
            position: absolute;
            border: 20px;
            top: 75px;
            right: 0px;
            width: 50%;
            height: 100%;
            // background-color: white;
            background-color: #00b4d8;

            li {
                margin-top: 40px;
                margin-bottom: 25px;

                a {
                    // @include center;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    color: rgb(34, 31, 31);
                    display: block;
                    font-weight: bold;
                    background-color: #fefae0;
                    border-radius: 10px;
                    padding: 5px 20px;
                    margin: 10px;

                    &:hover {
                        color: black;
                        background-color: #E1E5FE;

                    }
                }
            }
        }
    }
}